# Prerequisites
*.d
keys.txt
# Object files
local_buil.sh
keys
create_keys.sh
*.o
full_build.sh
teste.json
.obsidian
csrc/encrypt_keys
assets/lua_src.lua
*.ko
build.sh
vibescript
vgcore*
RagCraft
src/encrypt_key.h
*.obj
local_build.sh
vibeScript
*.elf
.cache
dependencies
VibeScript
AiRagTemplate
globals.assets.c
.cacherag
assets/lua_src.lua
# Linker output
*.ilk
.vscode
*.map
*.exp
release
src/imports
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
libs
